<a href="https://colab.research.google.com/github/nemsstyve/learning-area/blob/main/Cours.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
A = 1
B = 2

C = A
A = B
B = C
print(A,B)

2 1

In [6]:
A = 1
if A == 1:
  print("MCDO")
  print("KFC")
else:
  print("Burger King")

if A != 2:
  print("SUSHI")
if A > 2:
  print("MAISON")
if 10 < A < 100:
  print("COMMANDER")

if A == 1 or A == 2:
  print(A)

MCDO
KFC
SUSHI
1

In [12]:
A = int(input())
if A%2 == 0:
  print("pair")
else:
  print("impair")

3
impair

In [16]:
price = 100
choice = input()
if choice == "Etu":
  price *= 0.86
elif choice == "Sen":
  price *= 0.80

print(price)

Etu
86.0

In [15]:
year = 1997
if year%4 == 0 and year%100 != 0 or year%400 == 0:
  print("Bissextile")
else:
  print("non Bissextile")

non Bissextile

In [18]:
for i in range(100):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [19]:
A = 0
for i in range(10):
  A += i
  print(A)

0
1
3
6
10
15
21
28
36
45

In [21]:
from random import randint
X = randint(0,10)
print(X)

10

In [23]:
X = int(input())
i = 0
while i < 10:
  print(X, "X", "=", i*X)
  i = i+1

2
2 X = 0
2 X = 2
2 X = 4
2 X = 6
2 X = 8
2 X = 10
2 X = 12
2 X = 14
2 X = 16
2 X = 18

In [25]:
fact = int(input())
if fact == 0:
    print(1)
else:
  while fact < 0:
    print("error")
    fact = int(input())
    i = 1
  result = 1
  while i <= fact:
    result = result * i
    i = i + 1
  print(result)

2
1